.product {
  position: relative;

  padding: 1rem;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  border-radius: var(--border-radius);
}

.product__name {
  padding: 1rem 0;
}

.product__price {
  padding: 1rem 0;

  font-weight: bold;
}