.product {
  position: relative;

  padding: 1rem;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  border-radius: var(--border-radius);
}

.product__name {
  padding: 1rem 0;
}

.product__commerce {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__price {
  padding: 1rem 0;

  font-weight: bold;
}

.product__buy {
  padding: 0.3rem 0.5rem;

  background: #fff;

  color: #000;
  font-size: 1rem;

  cursor: pointer;

  outline: none;
  border: 1px solid #000;
  border-radius: var(--border-radius);
}