.section {
  margin: 0 auto;

  padding-top: 2rem;

  max-width: var(--max-width);
}

.delivery__text {
  padding-top: 2rem;

  text-indent: 1rem;
	text-align: justify;

  line-height: 1.5rem;
}

.delivery__paragraph {
  padding-top: 0.5rem;
}