.footer {
  padding: 1rem 0;

  margin-top: 2rem;

  color: #fff;
  background-color: #000;
}

.footer__container {
  margin: 0 auto;

  max-width: var(--max-width);

  text-align: center;
}

.footer__paragraph:first-child {
  font-weight: bold;

  font-size: 1.5rem;
}

.footer__paragraph {
  padding-top: 0.5rem;
}